The rationale behind getting the validation set is that it(train,validation) should have the same distribution as (train,test)
For the current problem we have training from 6-16:00 to 9-1500 in train and 10-4:00 to 10-15 in test sets.

So to have a match of the LB and a valid Validation set, we can take train as , truncate train from 6-16:00 to

 train date ranges
# min: 06 14:32:21 max: 09 16:00:00

# test date ranges
# min: 10 04:00:00 max: 10 15:00:00

train-validation SPLIT
# x0: 2017-11-06 14:32:21 -> 2017-11-08 16:00:00
# x1: 2017-11-09 04:00:00 -> 2017-11-09 15:00:00

In [1]:
import pandas as pd
path='input/'
train='train.csv'
df=pd.read_csv(path+train,parse_dates=['click_time','attributed_time'])
df['click_time']=pd.to_datetime(df['click_time']) #convert the click_time 
df['click_date'] = df['click_time'].dt.date
print('parsed date, go ahead, write code to split the date segment')
import datetime
# train_df_to_write=df[df.click_time<=datetime.datetime(2017,11,8,16,0,0)]
# train_df_to_write.to_pickle('train_v1.pkl')

parsed date, go ahead, write code to split the date segment

In [2]:
print('j')

j

In [ ]:
# import pandas as pd
# path='input/'
# train='train.csv'
# df=pd.read_csv(path+train,parse_dates=['click_time','attributed_time'])
# df['click_time']=pd.to_datetime(df['click_time']) #convert the click_time 
# df['click_date'] = df['click_time'].dt.date
# print('parsed date, go ahead, write code to split the date segment')
# import datetime

In [5]:
valid_df=df[(df.click_time>datetime.datetime(2017,11,9,4,0,0)) & (df.click_time<datetime.datetime(2017,11,9,15,0,0))]

In [6]:
valid_df.click_time.dt.hour.unique()

array([ 4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14])

In [10]:
valid_df.to_pickle('valid_v1.pkl')
print('k')

k

In [ ]:
#identify the dataframe that has the following dates
# def parse_time(df_train):
#     import datetime
#     def update_date(dt):
#         return dt.replace(minute=0, second=0) + datetime.timedelta(hours=1)
#     df_train['click_date_hour']= df_train['click_time'].apply(update_date)
#     return df_train
df_train=parse_time(df_train)

In [4]:
#dn['click_timeonly']=df_train['click_time'].dt.time

parsed date, go ahead, write code to split the date segment

In [ ]:
df['click_hour']=df['click_time'].dt.hour
df['click_minute']=df['click_time'].dt.minute

In [19]:
del df

In [ ]:
print('hi')

In [8]:
import gc

In [9]:
gc.collect()

124

In [6]:
print('hhi')#2017-11-08 16:00:00

hhi

In [11]:
train_df_to_write[train_df_to_write.click_date==datetime.date(2017, 11, 8)].click_time.dt.hour.unique()

In [12]:
train_df_to_write.head()

,ip,app,device,os,channel,click_time,attributed_time,is_attributed,click_date
0,83230,3,1,13,379,2017-11-06 14:32:21,NaT,0,2017-11-06
1,17357,3,1,19,379,2017-11-06 14:33:34,NaT,0,2017-11-06
2,35810,3,1,13,379,2017-11-06 14:34:12,NaT,0,2017-11-06
3,45745,14,1,13,478,2017-11-06 14:34:52,NaT,0,2017-11-06
4,161007,3,1,13,379,2017-11-06 14:35:08,NaT,0,2017-11-06

In [13]:
train_df_to_write.click_date.unique()

array([datetime.date(2017, 11, 6), datetime.date(2017, 11, 7),
       datetime.date(2017, 11, 8)], dtype=object)

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16])

In [23]:
train_df_to_write.to_pickle('train_v1.pkl')

In [26]:
# del train_df_to_write
gc.collect()

0

In [ ]:
2017-11-09 04:00:00
        2017-11-09 15:00:00

In [27]:
valid_df=df[(df.click_time>date.datetime(2017,11,9,4,0,0)) & (df.click_time<date.datetime(2017,11,9,15,0,0))]

NameError: name 'df' is not defined

df[(df['date'] > '2013-01-01') & (df['date'] < '2013-02-01')]